name: equran_keren
description: Aplikasi E-Quran API v2 EQuran.id
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

  http: ^1.2.2
  provider: ^6.1.2
  shared_preferences: ^2.3.2
  just_audio: ^0.9.39
  google_fonts: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
